@import "../scss/variables";

.about {
  padding: 0.5rem;
  text-align: center;
  margin-top: 3rem;
  .bio {
    border: 2px solid $dark;
    box-shadow: 0 0 0.5rem 0.1rem $dark;
    color: white;
    padding: 0 2rem;
    line-height: 2;
    width: 80%;
    margin: 0 auto;
    backdrop-filter: blur(14px);
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    border-left: 4px solid $orange;

    h2 {
      color: $orange;
      text-align: center;
    }
  }
  .experience {
    background-color: $dark;
    color: white;
    border-left: 4px solid $orange;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 65%;
    margin: auto;
    text-align: left;
    ul {
      height: 100px;
      overflow: auto;
      text-align: left;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .place {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
      h4 {
        font-size: 1rem;
      }
    }
    h3 {
      padding-left: 1rem;
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 995px) {
  .about {
    .bio {
      border-left: none;
      border-bottom: 2px solid $orange;
    }
    .experience {
      border-left: 2px solid $orange;
      margin-bottom: 5rem;
      .place {
        margin-bottom: 0.5rem;
        h2 {
          font-size: 1.2rem;
        }
        h4 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .experience {
    .place {
      display: flex;
      flex-direction: column;
    }
  }
}
