@import "../scss/variables";

.contact {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  cursor: default;
  .info {
    display: flex;
    gap: 2rem;
    .mail {
      border: 1px solid $lightPink;
      padding: 1rem;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: $lightPink;
      }
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      h3 {
        a {
          color: $lightPink;
          &:visited {
            color: $lightPink;
          }
        }
      }
    }
    .phone {
      border: 1px solid $lightPink;
      padding: 1rem;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: $lightPink;
      }
      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
      h3 {
        a {
          color: $lightPink;
          &:visited {
            color: $lightPink;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 998px) {
  .info {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
