@import "../scss/variables";

.navbar {
  ul {
    list-style: none;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    gap: 1rem;
    text-align: end;

    li {
      text-align: center;
      width: 7rem;
      a {
        transition: ease-in-out 0.3s;
        border-radius: 0.5rem;
        border: 1px solid $orange;
        padding: 0.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        &:hover {
          background-color: $orange;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .navbar {
    ul {
      flex-direction: column;
      align-items: flex-end;
      li {
        a {
          border: none;
        }
      }
    }
  }
}
