@import "./scss/reset";
@import "./scss/variables";

body {
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./assets/bekir16_9.png");
  background-size: cover;
  background-repeat: no-repeat;
}
