@import "./scss/reset";
@import "./scss/variables";

body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.582),
      rgba(0, 0, 0, 0.384)
    ),
    url("./assets/bekir16_9.png") no-repeat center center fixed;
  background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
}
