/* Color Theme Swatches in Hex */
$lightBlue: #0fc2c0; //black text
$aqua: #0caba8; //black text
$teal: #008f8c; //white text
$heavyTeal: #015958; //white text
$darkTeal: #023535; //white text

/* Color Theme Swatches in Hex */
$dark: #151f30; //white text
$blue: #103778; //white text
$water: #0593a2; //white text
$lightPink: #ff7a48; //black text
$lightPinkOp: #ff79485b; //black text
$orange: #c01a00; //white text
